api_platform:
    title: 'Plateforme E-Learning API'
    version: '1.0.0'
    mapping:
        paths: ['%kernel.project_dir%/src/Entity']
    patch_formats:
        json: ['application/merge-patch+json']
    swagger:
        versions: [3]
        api_keys:
            JWT:
                name: Authorization
                type: header
    defaults:
        pagination_enabled: true
        pagination_items_per_page: 30
        pagination_client_items_per_page: true
    formats:
        jsonld: ['application/ld+json']
        json: ['application/json']
        html: ['text/html']
